@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --pale-grey: #cccccc;
  --light-grey: #666666;
  --mid-grey: #c4c4c4;
  --dark-grey: #181818;
  --black: #000000;
}
body {
  font-family: "Source Code Pro", monospace;
  color: var(--mid-grey);
}
